.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    color: rgb(212, 175, 55);
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: 700;

}

.popular hr{
    width: 200px;
    height: 4px;
    background:  rgb(212, 175, 55);
    border-radius: 10px;
}

.popular-item{
    margin-top: 50px;
    display: flex;
   
   
}